[submodule "c"]
	path = c
	url = git@bitbucket.org:robinrob/c.git
[submodule "dotfiles"]
	path = dotfiles
	url = git@bitbucket.org:robinrob/c.git
[submodule "perl"]
	path = perl
	url = git@bitbucket.org:robinrob/c.git
[submodule "python"]
	path = python
	url = git@bitbucket.org:robinrob/c.git
[submodule "ruby"]
	path = ruby
	url = git@bitbucket.org:robinrob/c.git
[submodule "sh"]
	path = sh
	url = git@bitbucket.org:robinrob/c.git
[submodule "robins-rakefile"]
	path = robins-rakefile
	url = git@bitbucket.org:robinrob/rakefile.git
[submodule "force.com"]
	path = force.com
	url = git@bitbucket.org:robinrob/force.com.git
